.list{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card{
    font-size: 10px;
    display:flex;
    flex-direction: column;
    border: 2px black solid;
    margin:30px;
    padding: 30px
}